@import "variables.scss";

/* menu */
  
   
 .menu_box { 
 @media(max-width:989px) { 
   display: none; 
       left: 0px; 
       width:100%;
height:100%;
    top: 0px;
    z-index: 2999;
       position: fixed;
       background:rgba(255,255,255,0.95);
       .menu_box_item {
        display: table;
           
    width: 100%;
    height: 100%;
        .menu-menutop-container {
            display: table-cell;
            vertical-align: middle; 
        li {
       padding:25px 20px;
          display:block;
              text-align: center;
          text-transform: uppercase;
          a {
             color:$secondary-color;
             padding:10px 5px;
             &:hover {
                 text-decoration: none; 
           
             }
          
          }
/*          &:after  {
              font-family:$font-icon;
              content:"\f078";  
              color:$secondary-color;
          }*/
          .sub-menu {
              display:none;
          }
      } 
         } 
   }
  }
  .menu-top {
      margin: 0;
      padding: 0;
  }
    @media(min-width:990px) {  
        .menu-top {
            margin: 0;
            padding: 0; 
      li {
       padding:25px 20px;
          display:inline-block;
          text-transform: uppercase;
          a {
             color:$secondary-color;
             padding:10px 5px;
             &:hover {
                 text-decoration: none; 
              border-bottom:1px solid $primary-color;   
             }
          
          }
/*          &:after  {
              font-family:$font-icon;
              content:"\f078";  
              color:$secondary-color;
          }*/
          .sub-menu {
              display:none;
          }
      }
      }
  }
  }
  .widget {
      list-style: none;
      display: block;
          text-align: center;
  }
  .widget_media_image {
      margin:auto;
  }
   /* newsletter */
  #newsletter_sidebar {
      background:#efefef; 
      text-align: center;
      input {
          display: block;
          margin: 10px auto;
      }
  }

  @media(max-width:989px) { 
/* HAMBURGER MENU */     
.hamburger {
    display: block;
   position: fixed;
   width: 48px;
   height: 45px;
   right: 10px;
       cursor: pointer;
   z-index: 99998;
   top: 10px;
}
.hamburger.open div:before,  
.hamburger.open div:before {
      top:0px;
}
.hamburger div,
.hamburger div:before,
.hamburger div:after {
    width: 100%;
    height: 7px;
    
    content: " ";
    background: $secondary-color;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; 
}
.hamburger div {
    position: relative;
    margin: 20px auto 0;
}
.hamburger div:before, div:after {
    content: "";
    position: absolute;
}
.hamburger.open div:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.hamburger.open div:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.hamburger.open:hover div:before {
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
}

.hamburger.open:hover div:after {
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
}

.hamburger:hover:not(.open) div:before, 
.hamburger:not(.open) div:before {
    top: -15px;
} 

.hamburger:hover:not(.open) div:after,
.hamburger:not(.open) div:after
{
    top: 15px;
}
.hamburger.open div {
    background: none;
}
}