@import "blog_bootstrap.scss";

// Zmienne Lidka Blog 
$primary-font:'Open Sans', sans-serif;
$primary-size:14px;
$null:0px;

$secondary-font:'Open Sans', sans-serif;

$base-color: #fff;

$secondary-color : #000000; 
$primary-color : #d45353; /* c2778f */
/*
c9a873
*/
$third-color:#222222;
$four-color:#b3b3b3;
$five-color:#8f8f8f;


$overlay-color: #eee; 
$secondary-overlay-color:#c9a873;
$font-icon: "FontAwesome";

$light-bg:#efefef;